**/.vs
build/
bin/
.vs/
*.asv
**/slprj
*.slxc
**/codegen
*.mexw64
**/old
work/
*.autosave
*.aux
*.log
*.out
*.toc
*.fdb_latexmk
*.fls
*.synctex.gz
generatedcode/
*_ert_rtw/
*.mexa64
tmwinternal/
+px4io/+enums/
+px4io/generatedcode/